{
	"include": false,
	"multisite": false,
	"host": "{{projectName}}.localhost",
	"plugins": [
		"https://downloads.wordpress.org/plugin/query-monitor.zip:query-monitor",
		".:{{projectName}}"
	],
	"themes": [],
	"volumes": []
}