
============================================================
All ready! Enjoy your WordPress development environment.
- Site: https://{{host}}
- Test Site: https://test.{{host}}
- User: admin
- Password: password
============================================================